@font-face {
    font-family: figtree;
    src: url("assets/fonts/Figtree-VariableFont_wght.ttf");
}

body
{
    margin: 0;
}

main
{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card
{
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: figtree;
    box-shadow: 8px 8px 0 black;
}

div img
{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

div .learning
{
    width: fit-content;
    margin: 0;
    padding: 10px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 6px;
}

div p
{
    margin: 15px 0;
    font-weight: 500;
}

div h1
{
    margin: 0;
    font-size: 25px;
}

div .bio
{
    font-size: 16px;
    color: rgb(129, 129, 129);
}

.card .avatar-name
{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.avatar-name .avatar
{
    width: 40px;
    margin: 0;
}

.avatar-name h4
{
    margin: 0;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
}